<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>You should play <%= gameData.name %></title>
</head>
<body>
    <div class="flexContainer column">
        <h2>You should play...</h2>
        <h1><%= gameData.name %></h1>
        <img src="<%= gameData.imageUrl %> " alt="">

        <h3>Platforms: <% for(let i = 0; i < gameData.platforms.length; i++) { %>
            <% if(i < gameData.platforms.length - 1) {%>
                <span><%= gameData.platforms[i].platform %>, </span>
            <% }else{ %>
                <span><%= gameData.platforms[i].platform %></span>
        <% }} %></h3> 


        <a href="/home" class="centerButton">Back to the list!</a>
    </div>

    <div class="credits"><span>App by <a href="jeremyhelsel.com">Jeremy Helsel</a></span></div>
</body>
</html>