<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>You should play <%= gameData.name %></title>
</head>
<body class="blue-grey darken-3">
    <div>
        <nav class="blue-grey darken-3 valign-wrapper row">
            <a href="/home" class="btn blue-grey darken-1 waves-effect left-align col s2 m1">Home</a>

            <div class="col s2 m9"></div>

            <div class="col s8 m2">
                <span>Logged in as <%= user.userName %></span>
                <a href="/logout" class="btn blue-grey darken-1 waves-effect">Log out</a>
            </div>
        </nav>
    </div>

    <main class="container center">
        <h2 class="white-text">You should play...</h2>
        <h1 class="white-text"><%= gameData.name %></h1>
        <img src="<%= gameData.imageUrl %> " alt="">

        <section>
            <h3 class="white-text">Beating this game takes</h3>
            <h4 class="white-text">Main: <%= gameData.gameplayMain %> hours</h4>
            <h4 class="white-text">Main + Extras: <%= gameData.gameplayMainExtra %> hours</h4>
            <h4 class="white-text">Completionist: <%= gameData.gameplayCompletionist %> hours</h4>

            <h3 class="white-text">Platforms: <% for(let i = 0; i < gameData.platforms.length; i++) { %>
                <% if(i < gameData.platforms.length - 1) {%>
                    <span class="white-text"><%= gameData.platforms[i] %>, </span>
                <% }else{ %>
                    <span class="white-text"><%= gameData.platforms[i] %></span>
            <% }} %></h3> 

        </section>

        

        <a href="/game/random" class="btn-large blue-grey darken-1 center waves-effect">Another game!</a>
        <a href="/home" class="btn-large blue-grey darken-1 center waves-effect">Back to the list!</a>
    </main>

    <div class="credits"><span>App by <a href="https://jeremyhelsel.com/">Jeremy Helsel</a></span></div>
    <script src="/js/materialize.min.js"></script>
</body>
</html>