<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>What game should I play?</title>
</head>
<body>
    <nav class="flexContainer logOutPrompt">
        <p>Logged in as <%= user.userName %></p>
        <a href="/logout">Log out</a>
    </nav>

    <main>
        <h1>What game should I play?</h1>
        
        <% if(items.length > 0){ %>
            <a href="game/random" class="randomButton">Random Game!</a>
        <% } %>

        <section class="flexContainer column">
            <p>Add a game:</p>
            <form action="/home/searchGame" method="POST">
                <input type="text" placeholder="New Game" name = "gameName" class="textInput">
                <input type="submit" value="Search Game">
            </form>
        </section>

        <% if(items.length > 0) { %>
        <p>Or manage your list:</p>
        
        <section class="gameList">
            <select name="gameList" id="">
                <option value="placeHolder">Select a game to view</option>
                <% for(let i = 0; i < items.length; i++) {%>
                    <option value="<%= items[i].gameName %>"><%= items[i].gameName %></option>
                <% } %>    
            </select>
            <button id="viewGame">View Game</button>
            <button id="deleteGame">Delete Game</button>
        </section>
        <section>
            <h4>Your entire game backlog would take:</h4>
            <% 
            let totalMain = 0, totalMainExtra = 0, totalCompletionist = 0;

            for(let i = 0; i < items.length; i++){
                totalMain += items[i].ttbMain
                totalMainExtra += items[i].ttbMainExtra
                totalCompletionist += items[i].ttbCompletionist
            }

            function daysFormat(time){
                if(time <= 24){
                    return `${time} hours`
                }

                const remainder = time % 24
                let timeForDays = time - remainder
                timeForDays /= 24

                if(remainder !== 0){
                    return `${timeForDays} days and ${remainder} hours`
                }
                else{
                    return `${timeForDays} days`
                }
            }

             %>
            <p>Rushing through the main game: <%= daysFormat(totalMain) %></p>
            <p>Taking some time to do side content: <%= daysFormat(totalMainExtra) %></p>
            <p>Doing every single side activity: <%= daysFormat(totalCompletionist) %></p>
        </section>
        <% }else{ %>
            <h2>Search a game to build out your list!</h2>
        <% } %>

        
    </main>

    <div class="credits"><span>App by <a href="jeremyhelsel.com">Jeremy Helsel</a></span></div>

    <script src="js/homePage.js"></script>
</body>
</html>