<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/searchPage.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>Search Results</title>
</head>
<body class="blue-grey darken-3">
    <div>
        <nav class="blue-grey darken-3 valign-wrapper row">
            <a href="/home" class="btn blue-grey darken-1 waves-effect left-align col s2 m1">Home</a>

            <div class="col s2 m9"></div>

            <div class="col s8 m2">
                <span>Logged in as <%= user.userName %></span>
                <a href="/logout" class="btn blue-grey darken-1 waves-effect">Log out</a>
            </div>
        </nav>
    </div>
    <div style="height: 20px;"></div>
    <main class="container row">
        <% for(let i = 0; i < items.length; i++){ %>
            <!-- Desktop Tile -->
            <div class="row left col s12 hoverable hide-on-small-only" style="height: 70px;" data-gameName="<%= items[i].name %>" data-gameId="<%= items[i].id %>">
                <div class="col s4 m3 left-align">
                    <img src="<%= items[i].imageUrl %>" alt="<%= items[i].name %> image" style="max-width: 100%; max-height: 70px;">
                </div>
                <h5 class="white-text center-align desktop-text"><%= items[i].name %></h5>
                <form action="/home/addGame" method="POST">
                    <input type="text" name="gameName" class="hide" value="<%= items[i].name %>">
                    <input type="text" name="gameId" class="hide" value="<%= items[i].id %>">
                    <button class="btn blue-grey darken-1 center waves-effect right desktop-btn" type="submit" name="action">Add Game</button>
                </form>
            </div>
            <!-- End Desktop Tile -->

            <!-- Mobile Tile -->
            <div class="hide-on-med-and-up row left hoverable valign-wrapper" style="height: 70px;" data-gameName="<%= items[i].name %>" data-gameId="<%= items[i].id %>">
                <div class="col s3">
                    <img src="<%= items[i].imageUrl %>" alt="<%= items[i].name %> image" style="max-width: 100%; max-height: 70px;">
                </div>
                <h6 class="white-text col s5"><%= items[i].name %></h6>
                <form action="/home/addGame" method="POST" class="col s3">
                    <input type="text" name="gameName" class="hide" value="<%= items[i].name %>">
                    <input type="text" name="gameId" class="hide" value="<%= items[i].id %>">
                    <button class="btn blue-grey darken-1 center waves-effect" type="submit" name="action">Add Game</button>
                </form>
            </div>
            <div style="height: 3px;"></div>
            <div style="height: 3px;"></div>
        <% } %>
    </main>

    <div class="container center">
        <a href="/home" class="btn-large blue-grey darken-1 center waves-effect">Back to the list!</a>
    </div>
</body>
</html>