<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/searchPage.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>Search Results</title>
</head>
<body class="blue-grey darken-3">
    <div class="right-align">
        <nav class="blue-grey darken-3">
            <span>Logged in as <%= user.userName %></span>
            <a href="/logout" class="btn blue-grey darken-1 waves-effect">Log out</a>    
        </nav>
    </div>
    <main class="container row">
        <% for(let i = 0; i < items.length; i++){ %>
            <div class="row left col s12 hoverable" style="height: 70px;" data-gameName="<%= items[i].name %>" data-gameId="<%= items[i].id %>">
                <div class="col s4 m3">
                    <img src="<%= items[i].imageUrl %>" alt="<%= items[i].name %> image" style="max-width: 100%; max-height: 70px;">
                </div>
                <span class="white-text"><%= items[i].name %></span>
                <form action="/home/addGame" method="POST">
                    <input type="text" name="gameName" class="hide" value="<%= items[i].name %>">
                    <input type="text" name="gameId" class="hide" value="<%= items[i].id %>">
                    <button class="btn blue-grey darken-1 center waves-effect right" type="submit" name="action">Add Game</button>
                </form>
            </div>
            <div style="height: 3px;"></div>
        <% } %>
        <div class="container center">
            <a href="/home" class="btn-large blue-grey darken-1 center waves-effect">Back to the list!</a>
        </div>
    </main>
</body>
</html>