<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/searchPage.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>Search Results</title>
</head>
<body>
    <body>
        <nav class="flexContainer logOutPrompt">
            <p>Logged in as <%= user.userName %></p>
            <a href="/logout">Log out</a>
        </nav>

        <main class="flexContainer column">
            <% for(let i = 0; i < items.length; i++){ %>
                <div class="gameTile flexContainer" data-gameName="<%= items[i].name %>" data-gameId="<%= items[i].id %>">
                    <img src="<%= items[i].imageUrl %>" alt="<%= items[i].name %> image">
                    <span><%= items[i].name %></span>
                    <form action="/home/addGame" method="POST">
                        <input type="text" name="gameName" value="<%= items[i].name %>">
                        <input type="text" name="gameId" value="<%= items[i].id %>">
                        <input type="submit" value="Add Game">
                    </form>
                </div>
            <% } %>
            <a href="/home">Back to the list!</a>
        </main>
    </body>
</body>
</html>